.backGround{
    border: 5px solid red;
    width: 100px;
    height: 100px;
    background: url('../img/home/bb.png');
} 
.backGround1{
    border: 5px solid yellow;
    width: 100px;
    height: 100px;
    background: url('../img/home/aa.png');
}
.imgSty{
    width:100px;
    height:100px;
}